*,
*:before,
*:after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("../../static/assets/beat-schuler-9D2WUVsT9_I-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: $gris-fuerte;
}

input,
button,
select,
textarea {
    font-family: 'Poppins', sans-serif;
}

select {
    color: $gris-fuerte;
}

textarea,
select {
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: $gris-fuerte;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}