.card-wrapper {
    .error-text {
        color: #e5424d;
        margin-top: 15px;
        margin-left: 10px;
        font-size: .8em;
    }
    .buttons-wrapper {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button:nth-child(1) {
            @include button-checkout();
            width: 80px;
            height: 30px;
        }
        button:nth-child(2) {
            @include button();
            font-size: 1.2em;
            width: 100px;
            height: 40px;
        }
    }
}