.no-match-container {
	width: 100vw;
	min-height: 85.8vh;
	display: flex;
	justify-content: center;
	.no-match-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h3 {
			color: $gris-mas-claro;
			margin-bottom: 50px;
			text-align: center;
		}
		.icon-rocket {
			font-size: 10em;
			color: $morado;
			transition: all 0.3s;
			&:hover {
				color: $verde-marca;
				transform: scale(1.1);
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 700px) {
	.no-match-container {
		padding: 0px 20px;
	}
}
