$verde-marca: #5de659;
$verde-hover: rgb(188, 211, 167);
$gris-fuerte: #777777;
$gris-claro: #b6b6b6;
$gris-mas-claro: #cbcbcb;
$gris-inputs: #eceaea;
$morado: #995099;
$morado-completado: #5050cc;
$morado-inactivo: #9090e9;
$morado-activo: #8427c2;